body {
	background-color: #868F90;
    background-size: cover;
    background-attachment: fixed;
}

.ir-arriba {
  display: none;
  padding: 15px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 10px;
}

.flecha {
  height: 35px;
  width: 35px;
  border-radius: 10px;
}

.botones {
    margin-top: 50px;
}

.acordeon {
    color: black;
}

.card-header {
    border-radius: 10px;
    font-style: bolder;
    font-size: 20px;
    color: #000000;
}

#muñeco {
    height: 200px;
    width: 150px;
    margin-right: 10px;
}

#portada  {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

#cv {
    height: 35px;  
    width: 35px;
    margin-right: 10px;
}

#contact {
    height: 35px;  
    width: 35px;
    margin-right: 10px;
}

.container{
    width: 90%;
    border-radius: 3px;
}

#miModal:target{
    opacity:1;
    pointer-events:auto;
}

#form_correo {
    display: block;
    font-size: 16px;
}

#correo-index {
    border: 2px;
    padding: 10px;
    background-clip: padding-box;
    height: 100px;
    width: 100px;
    margin-right: 10px;
}

#fb {
    height: 40px;
    width: 40px;
}

#wa {
    height: 50px;
    width: 80px;
}

#llamada {
    height: 40px;
    width:  40px;
}

footer {
    background-color: #2A2828;
    color: white;
}

#foot{
    color: white;
    font-style: bold;
    font-size: 15px;
}
